.page__footer {
    color: var(--off-fg);
}

.page__footer p {
    margin: 0;
}

.page__footer .stats::before {
  content: "λ";
  padding-right: 0.5rem;
  color: orangered;
}

.page__footer .stats {
  font-size: x-small;
}