{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <p>
      I'm a Software Developer living in Ringgold, Georgia with my wife Nicki.
    </p>
    <p>
      I focus on C#, Ruby, and PHP development on Linux (and some C# on Windows).
    </p>
    <p>
      In my free time, I work on personal projects, or play with amateur radio or video games.
      Also, I help run a community of local developers called devanooga. You’re welcome to come join us on slack!
    </p>
    <p>
      If you'd like to contact me, the easiest way is via <a href="mailto:bobby@brb3.org">email</a>.
    </p>
    <h1>Blog Posts</h1>
    <ul class="posts-list">
      {{ range $index, $element := .Paginator.Pages }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
